.label {
    color: blue;
    font-size: 18px;
    text-align: center;
  }
  .input1 {
   color: blue;
   padding-top: 50px;
   margin-left: 130px;
   height: 100px;
   width: 200px;
    opacity: 10;
    
  }
  .input3 {
    color: blue;
    padding-top: 50px;
    margin-left: 130px;
    
     opacity: 10;
     
   }
 .title{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
 }
  .content{
    background-color:gainsboro;
    margin-top: 100px;
    margin-left: 500px;
    width: 500px;
    height: 400px;
  }
  .page {
    background-color: darkgoldenrod;
   }